.scrolled{
    color: rgb(15,15,15) !important;
}

.scrolledItem{
    color: rgb(15,15,15);
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.logoContainer{
    width: 80%;
    display: flex;
    align-items: center;
}

.logo{
    width: 55px;
}

.openNavbarMenuIconContainer{
    width: 20%;
    text-align: right;
}

.openNavbarMenuIcon{
    color: white;
    font-size: 1.5rem;
}

.navbarList{
    list-style: none;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: .9rem;
}

.desktopNavbarList{
    display: none;
}

@media (width >= 768px) {
    .logo{
        width: 80px;
    }

    .openNavbarMenuIcon{
        font-size: 2.5rem;
    }

    .navbarList{
        margin-top: 30px;
        gap: 25px;
        font-size: 1.3rem;
    }
}

@media (width >= 992px) {
    .logoContainer{
        width: 20%;
    }

    .logo{
        width: 50px;
    }

    .openNavbarMenuIconContainer{
        display: none;
    }

    .openNavbarMenuIcon{
        display: none;
    }

    .navbarList{
        display: none;
    }

    .desktopNavbarList{
        display: flex;
        justify-content: space-between;
        width: 80%;
        list-style: none;
        font-size: .8rem;
        font-weight: 500;
    }

    .desktopNavbarLink{
        padding: 5px 20px;
        border-radius: 3px;
        transition: all .5s
    }

    .desktopNavbarLink:hover{
        background-color: rgb(60, 60, 60);
    }

    .scrolledItemDesktop{
        color: rgb(15,15,15);
    }

    .scrolledItemDesktop:hover{
        background-color: rgb(225, 225, 225) !important;
    }
}

@media (width >= 1200px) {
    .logo{
        width: 50px;
    }

    .desktopNavbarList{
        font-size: .8rem;
        font-weight: 400;
    }

    .desktopNavbarLink{
        padding: 5px 20px;
        border-radius: 3px;
        transition: all .5s
    }

    .desktopNavbarLink:hover{
        background-color: rgb(60, 60, 60);
    }
}