nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.logoContainer{
    width: 80%;
    display: flex;
    align-items: center;
}

.logo{
    width: 55px;
}

.openNavbarMenuIconContainer{
    width: 20%;
    text-align: right;
}

.openNavbarMenuIcon{
    color: white; 
}

.navbarList{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: .9rem;
}