nav{
    border: 1px solid blue;
}

.titleContainer{

}

.titleLink{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.openNavbarMenuIconContainer{

}

.openNavbarMenuIcon{
    color: rgb(250, 250, 250); 
}