.homeSection{
    height: 100vh;
    background-color: rgb(15, 15, 15);
    background-image: url('../../assets/images/home-section-background.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    position: absolute;
    width: 100%;
    bottom: 15%;
}

.textContainer{
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.introductionText{
    font-size: 1.2rem;
    font-weight: 200;
}

.title{
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0 10px 0;
}

.subTitle{
    font-size: 1.1rem;
    margin: auto;
    font-weight: 300;
    white-space: nowrap;
    border-right: 2px solid;
    width: 25ch;
    animation: typing 2s steps(25), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.socialNetworksContainer{
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.linkedin {
    margin-top: 1.5em;
    margin-left: 1.2em;
    font-size: 1.2rem;
}

.card2 {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.github {
    margin-top: 1.5em;
    margin-left: -.9em;
    font-size: 1.2rem;
}

.card3 {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.stackOverflow {
    margin-top: -.6em;
    margin-left: 1.2em;
    font-size: 1.2rem;
}

.card4 {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.whatsapp {
    margin-top: -.9em;
    margin-left: -1.2em;
    font-size: 1.2rem;
}

.card1:hover {
    cursor: pointer;
    scale: 1.05;
    color: white;
    background-color: #0e76a8;
    .socialNetworksLink{
        color: white;
    }
}

.card2:hover {
    cursor: pointer;
    scale: 1.05;
    color: white;
    background-color: rgb(49, 49, 49);
    .socialNetworksLink{
        color: white;
    }
}

.card3:hover {
    cursor: pointer;
    scale: 1.05;
    color: white;
    background-color: #ec7c23;
    .socialNetworksLink{
        color: white;
    }
}

.card4:hover {
    cursor: pointer;
    scale: 1.05;
    color: white;
    background-color: #00bb2d;
    .socialNetworksLink{
        color: white;
    }
}

.socialNetworksLink{
    color: black;
}

@media (width >= 768px) {
    .content{
        bottom: 20%;
    }

    .textContainer{
        margin-bottom: 70px;
    }

    .introductionText{
        font-size: 1.8rem;
    }

    .title{
        font-size: 3rem;
        font-weight: 500;
        margin: 30px 0 20px 0;
    }

    .subTitle{
        font-size: 1.9rem;
        font-weight: 400;
    }

    .card1 {
        width: 90px;
        height: 90px;
    }

    .linkedin {
        font-size: 1.4rem;
    }

    .card2 {
        width: 90px;
        height: 90px;
    }

    .github {
        font-size: 1.4rem;
    }

    .card3 {
        width: 90px;
        height: 90px;
    }

    .stackOverflow {
        font-size: 1.4rem;
    }

    .card4 {
        width: 90px;
        height: 90px;
    }

    .whatsapp {
        font-size: 1.4rem;
    }
}

@media (width >= 992px) {
    .content{
        bottom: 10%;
    }

    .textContainer{
        margin-bottom: 40px;
    }

    .introductionText{
        font-size: 1.2rem;
    }

    .title{
        font-size: 2rem;
    }

    .subTitle{
        font-size: 1.3rem;
    }

    .card1 {
        width: 50px;
        height: 50px;
    }

    .linkedin {
        font-size: 1rem;
    }

    .card2 {
        width: 50px;
        height: 50px;
    }

    .github {
        font-size: 1rem;
    }

    .card3 {
        width: 50px;
        height: 50px;
    }

    .stackOverflow {
        font-size: 1rem;
    }

    .card4 {
        width: 50px;
        height: 50px;
    }

    .whatsapp {
        font-size: 1rem;
    }
}

@media (width >= 1200px) {
    .content{
        bottom: 15%;
    }

    .textContainer{
        margin-bottom: 70px;
    }

    .introductionText{
        font-size: 1.8rem;
    }

    .title{
        font-size: 3rem;
        font-weight: 600;
        margin: 50px 0 35px 0;
    }

    .subTitle{
        font-size: 1.9rem;
        font-weight: 300;
    }

    .card1 {
        width: 70px;
        height: 70px;
    }

    .linkedin {
        font-size: 1rem;
    }

    .card2 {
        width: 70px;
        height: 70px;
    }

    .github {
        font-size: 1rem;
    }

    .card3 {
        width: 70px;
        height: 70px;
    }

    .stackOverflow {
        font-size: 1rem;
    }

    .card4 {
        width: 70px;
        height: 70px;
    }

    .whatsapp {
        font-size: 1rem;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50%{border-color: transparent;}
}