.homeSection{
    border: 1px solid red;
    height: 100vh;
}

.content{
    position: absolute;
    width: 100%;
    bottom: 15%;
}

.textContainer{
    text-align: center;
}

.introductionText{

}

.title{

}

.subTitle{

}

.socialNetworksContainer{
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.linkedin {
    margin-top: 1.5em;
    margin-left: 1.2em;
    font-size: 1.2rem;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.github {
    margin-top: 1.5em;
    margin-left: -.9em;
    font-size: 1.2rem;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.stackOverflow {
    margin-top: -.6em;
    margin-left: 1.2em;
    font-size: 1.2rem;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    font-size: 1.2rem;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    color: white;
    background-color: #0e76a8;
    .socialNetworksLink{
        color: white;
    }
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    color: white;
    background-color: rgb(49, 49, 49);
    .socialNetworksLink{
        color: white;
    }
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    color: white;
    background-color: #ec7c23;
    .socialNetworksLink{
        color: white;
    }
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    color: white;
    background-color: #8c9eff;
    .socialNetworksLink{
        color: white;
    }
}

.socialNetworksLink{
    color: black;
}