header{
    background-color: rgb(15, 15, 15);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

@media (width >= 768px) {
    header{
        padding: 20px 40px;
    }
}

@media (width >= 992px) {
    header{
        padding: 10px 60px;
    }
}

@media (width >= 1200px) {
    header{
        padding: 10px 100px;
    }
}